IMPORT{builtin}="usb_id"
SUBSYSTEM=="tty", ACTION=="add", ENV{ID_VENDOR_ID}=="067b", ENV{ID_MODEL_ID}="2303", ENV{ID_USB_INTERFACE_NUM}=="00", SYMLINK+="ttyUSB.PIX"
SUBSYSTEM=="tty", ACTION=="add", ENV{ID_VENDOR_ID}=="1c9e", ENV{ID_MODEL_ID}="9603", ENV{ID_USB_INTERFACE_NUM}=="02", SYMLINK+="ttyUSB.U6100"
SUBSYSTEM=="tty", ACTION=="add", ENV{ID_VENDOR_ID}=="19d2", ENV{ID_MODEL_ID}="0199", ENV{ID_USB_INTERFACE_NUM}=="02", SYMLINK+="ttyUSB.ME3760"